<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="page">
      <h2>About Me</h2>
      <p>Name: Paul Christian M. Mandap</p>
      <p>School: Technological Institute of the Philippines</p>
      <p>Course: BS Computer Science</p>
      <p>Welcome to the About Me page! I am passionate about coding, technology, and creating innovative solutions.</p>
      <button onclick="window.location.href='/'">Back to Home</button>
    </div>
  </body>
</html>
