<!DOCTYPE html>
<html>
  <head>
    <title>Contact Me</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="page">
      <h2>Contact Information</h2>
      <p>Email: mpcmandap@tip.edu.ph</p>
      <p>Phone: +1234567890</p>
      <p>Feel free to reach out if you'd like to collaborate or just say hi!</p>
      <button onclick="window.location.href='/'">Back to Home</button>
    </div>
  </body>
</html>
